@page "/"

<h1>Info!</h1>

<p>
I'm currently the Lead Developer for cross platform Xamarin apps at <b>Future Workshops Ltd</b>., a central 
London based Mobile Agency which has worked on several high profile apps on various platforms. I'm currently 
working on a retail banking app for <b>Pockit Ltd</b>, which is a challenger bank in the UK.
</p>

<p>
Previously, I worked for a year at a gaming startup based in Brighton, UK which is responsible for 
building the <b>Tango Chase</b> iPhone app as a Technical Director, developed the well-praised <b>LastMinute.com</b> 
Windows Phone 7 app as well as the <b>ParcelGenie</b> Windows 8 app which allowed me to specialize 
in Microsoft's next generation Metro application design principles.
</p>

<p>
I completed my <b>Masters of Artificial Intelligence (Intelligent Systems)</b> course at the <b>University of 
Sussex</b>, UK. with a distinction in 2011.
</p>

<p>
While back in India, At <b>Nexxoft Ltd</b>, I served as the Chief of Interactive 
Technologies working on technologies like 3D Security, Virtual Reality and 
Augmented Reality as a pioneer in that region.
</p>

<p>
As for the early years of career, I co-founded Raptor Entertainment Pvt. Ltd. 
in Bangalore, India in 2001 and was heading the Operations as well as Development as COO 
upto May 2009 when it was acquired by Nexxoft Infotel Limited. As Raptor I have worked on 
and managed several projects from General Motors, Kuju, Caster Racing, 
US Air Force, Tata, BEL to name a few.
</p>

<p>
<b>Specialties:</b> Product Ownership, Software architecture and Prototyping, 
3D and AI Programming, Content Development, Code-Content Pipeline Management
</p>

<p>
<b>Platform Specialties:</b> Windows UWP, Windows Phone, Unity3D, 
C++ , C#, XNA, XAML, WPF/Silverlight, Swift for iOS app development 
and most recently, Xamarin.
</p>

<p>
<b>Areas:</b> Games, Simulations, Government, Augmented Reality, 
Virtual Reality, Mobile / Tablet Apps, Retail Banking
</p>

